@tailwind base;
@tailwind components;
@tailwind utilities;

.ch-box {
  @apply m-2.5 border max-w-lg p-4;
}

.active {
  @apply bg-gray-200;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
